<p>{{dataReceivedFromChild}}</p>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="databinding-tab" data-toggle="tab" href="#databinding" role="tab" aria-controls="databinding" aria-selected="true">SI, PB, EB, TWB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cpb-tab" data-toggle="tab" href="#cpb" role="tab" aria-controls="cpb" aria-selected="false">Custom Property Binding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="ceb-tab" data-toggle="tab" href="#ceb" role="tab" aria-controls="ceb" aria-selected="false">Custom Event Binding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="sd-tab" data-toggle="tab" href="#sd" role="tab" aria-controls="sd" aria-selected="false">Structural Directives</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="databinding" role="tabpanel" aria-labelledby="databinding-tab">
      <app-databinding></app-databinding>
    </div>

    <div class="tab-pane fade" id="cpb" role="tabpanel" aria-labelledby="cpb-tab">
      <app-cpb [myExp]="getMyExp(10)"></app-cpb> 
      <app-cpb [myExp]="getMyExp(20)"></app-cpb>
      <app-cpb [myExp]="getMyExp(30)"></app-cpb> 
      <app-cpb [myExp]="getMyExp(40)"></app-cpb>
    </div>

    <div class="tab-pane fade" id="ceb" role="tabpanel" aria-labelledby="ceb-tab">
      <!-- step 3 - add event listener for the custom event -->
      <app-ceb (myProfileLoaded)="myProfileLoadedHandler($event)"></app-ceb>
    </div>

    <div class="tab-pane fade" id="sd" role="tabpanel" aria-labelledby="sd-tab">
      <h1>Directives</h1>
      <h4>Attribute Directives</h4>
      <p>routerLink, ngClass</p>
      <h4>Structural Directives</h4>
      <p>*ngIf</p>

      <div *ngIf="isAuthenticated">
        <p>User is authenticated. </p>
      </div>

      <div *ngIf="!isAuthenticated">
        <p>User is not authenticated. pls login</p>
      </div>

      <p>*ngFor</p>
      <ul>
        <li 
        *ngFor="let skill of skillsList">
        {{skill}}</li>
      </ul>

      <p>ngSwitch -- Todo</p>
    </div>
  </div>